<h1 class="text-center mt-5">Let's dream a little...</h1>
<h3 class="text-center mt-3">Where in the world would you like to live?</h3>
<%= form_tag(root_path, method: :get) do %>        
  <%= text_field_tag(:location, "", class: "mx-auto mt-5 mb-5 w-50", id: "search-bar") %>
<% end %>
  
  <% if params[:location] %>
    <% places = Place.api_search(params[:location]) %>    
    <div class="row">
      <% places.first(6).each do |place| %>
        <div class="col-sm">
          <div class="card mb-5" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= place["matching_full_name"] %></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">More Info</a>
            </div>            
          </div>
        </div>     
      <% end %>
    </div>    
  <% end %>       
