<h1 class="text-center mt-3 mb-5">Your Shortlisted Places</h1>
<% if current_user.places.any? %>
  <div class="row">
    <% current_user.places.each do |place| %>
      <div class="col-sm-6">
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title"><%= place.name %></h5>
            <%= render "shared/graph", place: place %>
            <div class="text-center m-3">
              <%= link_to "Show Full Details", place_path(place), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
<% else %>
  <div class="text-center">
    <p>You don't have any shortlisted places, you can search for your dream location on the home page!</p>  
    <%= link_to "Home Page", root_path, class: "btn btn-primary mt-5" %>
  </div>
<% end %>
