<h1 class="text-center mt-3 mb-5">Your Shortlisted Places</h1>
<% if current_user.places.any? %>
  <div class="row">
    <% current_user.places.each do |place| %>
      <%= render "shortlist_card", place: place %>
    <% end %>
  </div>
  
<% else %>
  <div class="text-center">
    <p>You don't have any shortlisted places, you can search for your dream location on the home page!</p>  
    <%= link_to "Home Page", root_path, class: "btn btn-primary mt-5" %>
  </div>
<% end %>
