<h1 class="text-center mt-3 mb-5">Your Shortlisted Places</h1>
<% places = current_user.places %>
<% if places.any? %>
  <%= render "tabs_sort_by" %>
  
  <% places = set_sort_order(places) if params[:sort] %>    

  <div class="row">    
    <% places.each do |place| %>
      <%= render "shortlist_card", place: place %>
    <% end %>
  </div>  
<% else %>
  <div class="text-center">
    <p>You don't have any shortlisted places, click below to search for your dream location!</p>  
    <%= link_to "Search", root_path, class: "btn btn-info btn-sm mt-5" %>
  </div>
<% end %>
